<%- layout('./layout/boilerplate') %>

<section>
    <%- layout('./layout/boilerplate') %>
    <section class="flex justify-center items-center mx-5 min-h-screen">
        <div class="w-auto md:w-96">
            <form action="/admin/addnew/topcourse" method="post">
                <label class="input input-bordered flex items-center gap-2 my-5">
                    Name
                    <input type="text" class="grow" name="data[courseName]" required/>
                </label>
                <label class="input input-bordered flex items-center gap-2 my-5">
                    Details
                    <input type="text" class="grow" name="data[courseDetails]" required/>
                </label>
                <label class="input input-bordered flex items-center gap-2 my-5">
                    Image
                    <input type="text" class="grow" name="data[imageLink]" required/>
                </label>
                <label class="input input-bordered flex items-center gap-2 my-5">
                    Price
                    <input type="number" class="grow" name="data[corsePrice]" required/>
                </label>
                <button class="btn btn-outline btn-success rounded-none">Add Course</button>
            </form>
        </div>
    </section>
</section>